html {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
}
h1 {
    font-size: 1.8rem;
    color: white;
}
.nav {
    overflow: hidden;
    background-color: #04200e;
}
body {
    margin: 0;
    color: rgb(206, 217, 227);
    background-color: rgb(85, 92, 91);
}
.content {
    padding: 50px;
}
.card-grid {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 30px;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.card {
    background-color: rgb(97, 103, 102);
    box-shadow: 2px 2px 12px 1px rgba(43, 43, 43, 0.5);
    border-radius: 15px;
}
button {
    color: rgb(17, 57, 58);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.animBtn{
    background-color: #1b8a94;
}

.connectButton{
    background-color: #24af37;
}

.disconnectButton{
    background-color: #d13a30;
}

.gray-label { 
    color: #bebebe; 
    font-size: 1rem; 
}

.reading { 
    font-size: 1.8rem;
}
